<!DOCTYPE HTML>
<html>
	<head>
		<title>Taxi Server</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<style>
			.centered{
				float: none;
				margin :0 auto;
			}

		</style>
		<h1> Admin console... 
		<small>Smart Taxi App</small>
		</h1>
	</head>

	<body>

		<!--
		<ul>
		{% for post in posts %}
		<li>{{post}}</li>
		{% endfor %}
		</ul>
		-->

		<ul>

		{% for post in posts %}
		
				<li>{{post.Address}}</li>
		
		{% endfor %}
		</ul> 
	</body>

</html>